body {
    margin: 0px;
    font-family: inter;
}

main{
    height: 87dvh;
    width: 100dvw;
}


/* ESTILIZAÇÕES GERAIS */

h2 {
    font-size: 3rem;
    margin: 0px;
}

h4{
    margin: 0px;
    font-size: 1.7rem;
    text-decoration: underline;
}
p{
    margin: 0px;
    font-size: 2rem;
}


/* SEÇÂO APRESENTAÇÂO */

main section.apresentacao{
    height: 87dvh;
    width: 100dvw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main section.apresentacao div.container{
    height: 70dvh;
    width: 90dvw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
main section.apresentacao div.container img{
    margin-top: 80px;
}
main section.apresentacao div.container div.textoDeApresentacao{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
}

main section.apresentacao div.container div.textoDeApresentacao hr{
    width: 100%;
}
main section.apresentacao div.container div.textoDeApresentacao h1{
    font-size: 4rem;
    margin: 0px;
}

main section.apresentacao div.container div.textoDeApresentacao p{
    font-size: 1.5rem;
    margin: 0px;
}












/* SEÇÃO BENEFICIOS */

main section.secaoBeneficios{
    background-color: #F0F0F0;
    min-height: 420px;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section.secaoBeneficios h2{
    margin-top: 20px;
}
main section.secaoBeneficios hr{
    width: 100%;
}

main section.secaoBeneficios section.subSecaoTopicos{

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: baseline;
}

main section.secaoBeneficios section.subSecaoTopicos div.topico{
    border-radius: 1em;
    min-width: 200px;
    max-width: 280px;
    height: auto;
    background-color: white;
    box-shadow: 2px 4px 10px 1px black;
    padding: 7px;
    margin-top: 30px;
    margin-bottom: 8px;
}
main section.secaoBeneficios section.subSecaoTopicos div.topico:nth-child(1){
    max-width: 250px;

}
main section.secaoBeneficios section.subSecaoTopicos div.topico:nth-child(3){
    max-width: 250px;
}
main section.secaoBeneficios section.subSecaoTopicos div.topico p{
    font-size: 1rem;
    margin-top: 10px;
}









/* SEÇÃO Crie Uma Conta */

main section.secaoCrieUmaConta{
    height: auto;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section.secaoCrieUmaConta h2{
    margin-top: 20px;
}
main section.secaoCrieUmaConta ul li{
    font-size: 1.7rem;
    margin: 10px;
    
}

main section.secaoCrieUmaConta button {
    border-radius: 1em;
    border: 0px;
    background-color: #2AA95F;
    margin-bottom: 20px;
    width: 400px;
    height: 100px;
    font-size: 1.5rem;
}
main section.secaoCrieUmaConta button:hover{
    background-color: rgb(0, 204, 0);
    cursor: pointer;
    box-shadow: 4px 4px 10px 1px green ;
    color: white;
}