<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo!</title>
    <link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>
    <header>
        <div class="logo">
            <ul>
                <li>AGENDA</li>
                <hr class="hrLogo">
                <li>ONLINE</li>
            </ul>
        </div>

        <nav>
            <ul>
                <li>
                    CADASTRE-SE 
                </li>
                <hr class="seçãoLogon">
                <li>FAÇA LOGIN</li>
            </ul>
        </nav>
    </header>
</body>
</html>